.ingredient-area {
    background-color:#e7e6f7;
}

.dish-img {
    background-color: #aea3b0;
}

.dish-img > img {
    width: 250px;
    display: block;
}

.instructions-area {
    background-color: #e3d0d8;
}

.card-img-top {
    width: 100%;
}

.error-code {
    font-size: 6em;
}

.recipe-card-bg-img-container {
    max-width: 100%; 
    max-height: 200px;
    background-repeat: no-repeat, repeat;
    background-size: cover
}

.recipe-card-bg-img-set-wh {
    height: 250px;
    width: 250px;
}

@media only screen and (max-width: 767px) {
    .dish-img > img {
        width: 150px;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dish-img > img {
        width: 200px;
        display: block;
    }
}
