{% extends "base.html" %}
{% block content %}

{% block search %}{% endblock search %}
    <!-- <div class="col-md-8 mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="p-2 border rounded-top bg-secondary text-white" id="title">My First Post</div>
                <div id="message" class="p-2 border border-top-0 bg-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod amet rerum non natus, impedit consectetur maxime beatae? Culpa quod ipsam necessitatibus non illo eveniet maiores sed numquam dicta. Delectus, modi?</div>
            </div>
        </div>
    </div> -->


{% block script %}
{% endblock script %}
{% endblock content %}